.img-holder {
    background-color: blueviolet !important;
    border-radius: 1rem;
}

.img-container {
    border-radius: 1rem;
    overflow: hidden;
}

.favorite-btn {
    border: none;
}

.card {
    border: none !important;
}

.card-footer {
    border-top: none !important;
    background: none !important;
}

.footer a:hover,
.footer i:hover {
    color: #0a58ca !important;
}