
.post-page-example {
    display: grid;
    grid-template-rows:
        70px
        300px
        150px
        120px
        80px;
    gap: 10px;
    padding: 10px;
    height: 100vh;
}

.post-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
}

.post-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-image {
    height: 180px;
}

.image-thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 60px;
    height: 60px;
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.save-btn, .contact-btn {
    width: 40px;
    height: 40px;
}

.post-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.seller-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
