* {
    box-sizing: border-box;
}
div {
    border: 1px solid black;
}
.main-page {
    display: grid;
    grid-template-rows: 
        70px
        70px
        120px
        1fr
        80px;  
    gap: 10px;
    height: 100vh;
    padding: 10px;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 50px;
    height: 50px;
}
.sell {
    width: 100px;
    height: 40px;
    text-align: center;
}
.auth {
    width:100px;
    height: 40px;
    text-align: center;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search-bar {
    width: 300px;
    height: 40px;
}
.search-location {
    width: 150px;
    height: 40px;
}
.search-button {
    width: 80px;
    height: 40px;
}

.categories-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categories-title {
    text-align: center;
}
.categories-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.category-item{
    width: 60px;
    height: 60px;
    text-align: center;
}

.post-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}
.post-item {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 1px;
}
.post-image {
    flex: 1;
    height: 80px;
    background-color: #ccc;
}
.load-more {
    grid-column: 1/ -1;
    text-align: center;
    height: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-logo {
    width: 60px;
    height: 40px;
}
.footer-content {
    text-align: center;
}